body {
    max-width: 760px;
    margin: 20px auto;
    font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
}


header {
    background-color: #000000;
    border-radius: 7px;
}

    header img {
        float: right;
        max-width: 165px;
        max-height: auto;
        margin-right: 15px;
        border-radius: 7px;
        filter: drop-shadow(3px 2px 4px black)

    }

h1 {
    color: #00ccff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-size: 36pt;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    border-bottom: 2px solid #00ccff;
    padding-bottom: 5px;
}

footer {
    background-color: #000000;
    color: #00ccff;
    text-align: center;
    border-radius: 7px;
    
  
  }

  footer a {
    color: #00ccff;
  
  }
  
  footer a:hover {
    color: white;
  
  }
  
  